@import url("https://fonts.googleapis.com/css?family=Pacifico");
nav {
  background-color: #3e2723;
  font-family: 'pacifico', cursive;
}

.photography {
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  width: 80%;
  background-color: white;
  padding: 50px;
}
.photography button {
  margin-top: 12px;
}
.photography video {
  border: solid 4px #3e2723;
  width: 320px;
  height: 240px;
}
.photography canvas {
  border: solid 4px #3e2723;
  margin-left: 10px;
  position: relative;
  width: 320px;
  height: 240px;
}

i {
  vertical-align: top;
}

body {
  background-color: #212121;
}
